@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(26, 26, 26, 1);
    background-size: cover;
    background-position: center;
}

.container{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 40px 30px;
}

.container h1{
    font-size: 40px;
    text-align: center;
}

button{
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    color: white;
    cursor: pointer;
    width: 250px;
    border-radius: 2px;
    padding: 10px;
}

.menu{
    width: 100%;
    height: 100%;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.menu-item-button {
    background-color: transparent;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.0;
    margin: 0;
    max-width: none;
    min-height: 40px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.menu-item-button:hover,
.menu-item-button:focus {
  opacity: .75;
}

.exit-button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  vertical-align: middle;
}

.exit-button:hover,
.exit-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
  opacity: .5;
}
